# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# dotenv
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Docker
**/Dockerfile
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
.docker/
tmp/

# Prisma
**/prisma/dev.db
**/prisma/migrations/
**/prisma/generated/

# PostgreSQL volume (optional, if using host bind)
postgres_data/

# Next.js
**/.next/
**/.vercel/
**/out/
**/.turbo/
**/.cache/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.swp

# pgAdmin
pgadmin4/
